body{
    width: 98%;
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(background.jpg);
    /* background-size: cover; */
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    color: white;
}
h1{
    color: rgb(255, 255, 255);
    left: 40px;
    top: 50px;
    position: absolute;
}
.new{
    position: absolute;
    right: 20px;
    top: 15px; 
}
.new ul li {
    display: inline-flex;
    padding: 20px;
    list-style: none;
    margin: 15px;
}
.new ul li a{ 
    text-decoration: none;
     padding: 15px 20px;
    /* border: 1.5px solid black; */
    transition: 0.5s;
    border-radius: 5px;
    color: white;
}
.new ul li a:hover{
    background-color: rgb(127, 162, 202);
    color: rgb(255, 255, 255);
}